<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evoter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditDetailCandidateActivity" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name=".CreateCandidateActivity" />
        <activity android:name=".CreateVoteActivity" />
        <activity android:name=".DetailVoteActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".EditProfileActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ProfilActivity" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".DetailCandidateActivity" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".SuccessActivity" />
        <activity android:name=".VoteActivity" />
        <activity android:name=".HomeActivity" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".RegisterActivity" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".MainActivity" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>